body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* set border and size to input form */

input,
select,
textarea {
    
    padding: 15px; 
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width:500px;
}

/* give nice look to the table */
#Table th {
    text-align: left;
    background-color: #585959;
    color: white;
}
#Table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#Table tr:hover {
    background-color: #ddd;
}

   

